<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head.ejs') %>
</head>

<body>
    <h1 id="best">Best Books !</h1>
    <h4>Book Details</h4>
    <form action="/" method="get">
        <button id="indexa" type="submit">Go to the main page</button>
    </form>
    <main>
        <% results.forEach(book=> {%>
            <div id="detail">
                <img src=" <%=book.image %>" alt="" />
                <h2 class="title">
                    <%= book.title%>
                </h2>
                <p class="author">
                    <%=book.authors%>
                </p>
                <p>
                    <%=book.description%>
                </p>
                <p>ISBN :
                    <%=book.isbn%>
                </p>
                <p>Bookshelf :
                    <%=book.bookshelf%>
                </p>
                <form action="/update/<%= book.id%>" method="post">
                    <button type="submit">Update Book</button>
                </form>
                <form id="delete" action="/books/delete/<%=book.id%>?Method-Override=DELETE" method="POST">
                    <input type="hidden" value="<%= book.id%>">
                    <button type="submit">Delete Book</button>
                </form>

            </div>
            <% }) %>
    </main>
</body>

</html>