<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./layout/head.ejs') %>
        <title>Book shop</title>
</head>

<body>
    <h1 id="indexh1">Welcome to you in our Book-app</h1>
    <form action="/searches/new" method="get">
        <button id="indexa" type="submit">Go to Search page</button>
    </form>

    <main>
        <h1 id="best">Best Books !</h1>
        <h4><span><%= NumberOfBooks%></span>Saved Books</h4>

        <% results.forEach(book=> {%>
            <div>
                <img src="<%= book.image %>" alt="">
                <p class="title">
                    <%= book.title %>
                </p>
                <p class="author">
                    <%= book.authors %>
                </p>
                <a id="link" href='/books/<%= book.id %>' target="_blank" rel="noopener noreferrer">View details</a>
            </div>
            <% }); %>
    </main>

</body>

</html>