<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('./layout/head.ejs') %>
        <title>Book Collection</title>
</head>

<body>

    <main>
        <h1 id="best">Best Books !</h1>
        <h4> Search Result</h4>

        <% searchResults.forEach(book=> {%>
            <div>
                <img src="<%= book.image %>" alt="">
                <p class="title">
                    <%= book.title %>
                </p>
                <p class="author">
                    <%= book.authors %>
                </p>
                <p>
                    <%= book.description %>
                </p>
                <form action="/books" method="post">
                    <input type="hidden" name="image" value="<%= book.image %>">
                    <input type="hidden" name="title" value="<%= book.title %>">
                    <input type="hidden" name="authors" value="<%= book.authors %>">
                    <input type="hidden" name="description" value="<%= book.description %>">
                    <input type="hidden" name="ISBN" value="<%= book.ispn %>">
                    <input type="hidden" name="bookshelf" value="<%= book.bookshelf %>">
                    <button type="submit">Add book</button>
                </form>
            </div>
            <% }) %>
    </main>
</body>

</html>